@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {

  --forest-green: #2F5233;
  --sage: #A8BBA2;
  --terra-cotta: #D08C60;
  --cream-sand: #F5F1E6;
  --charcoal:  #333333;
  --brushed-gold: #C8B273;
  --burnished-copper: #B87333;
  --soft-silver: #C0C0C0;

  --background-c: var(--cream-sand);
  --primary-c:  var(--charcoal);
  --secondary-c:  var(--forest-green);

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: var(--background-c);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left {
  flex-shrink: 0;
  background-color: var(--background-c);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.logo{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 10px;
}

.logo img{
  height: 50px;
}

#fc{
  display: none;
}

.left::-webkit-scrollbar{
  width: 5px;
}

.left::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.left::-webkit-scrollbar-thumb{
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--secondary-c);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.left ul{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-list{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  color: #5F5F5F;
}

.profile-a{
  text-decoration: none;
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding: 20px 20px;
  padding-right: 7vw;
  padding-left: 3vw;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #5F5F5F;
}

.profile-a:hover{
  background-color: #D6D2C7;
}

.selected{
  background-color: #D6D2C7;
  color: var(--primary-c);
}

.right {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-c);
}

.rightContent{
  height: 98%;
  width: 99%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  padding: 1rem;
  overflow-y: scroll;
}

.rightContent::-webkit-scrollbar{
  width: 10px;
}

.rightContent::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rightContent::-webkit-scrollbar-thumb{
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--secondary-c);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.rightContent h1{
  color: var(--primary-c);
  font-size: 1.5rem;
  font-family: "PlayFair Display", sans-serif;
}

.description{
  color: gray;
  padding: 10px 0;
  font-family: "Lato", sans-serif;
}

.content{
  width: 100%;
  height: 100%;
}

.categories{
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: start;
  padding: 10px 0;
}

.categories ul{
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
}

.ctgryCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryCard a{
  text-decoration: none;
}

.ctgryImg{
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}

.ctgryImageView{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform ease 0.5s;
}

.ctgryImageView:hover{
  transform: scale(1.1);
}

.ctgryText{
  color: var(--primary-c);
  text-align: center;
  font-size: 0.7rem;
}

.title{
  text-decoration: none;
}

.searchView{
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 10px 0;
}

.searchBar{
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#search{
  width: 100%;
  height: 40px;
  border: 1px solid lightgray;
  border-radius:  5px 0 0 5px;
  padding: 0 10px;
  color: var(--primary-c);
}

option{
  cursor: pointer;
}

#searchButton{
  padding: 10px;
  background-color: var(--primary-c);
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#searchButton:hover{
  background-color: var(--secondary-c);
}

#searchResult{
  font-weight: 800;
  color: darkslateblue;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 25px;
}

.products ul{
  width: 90%;
  height: 100%;
  list-style: none;
  display: block;
  gap: 1rem;
  padding: 0;
}

.productCard {
  width: 100%;
  padding: 3px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-bottom: 5px;
}

.productCard:hover{
  background-color: #eee;
}

.cardA {
  text-decoration: none;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#prId{
  margin-bottom: 5px;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
}

.cardImg {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--primary-c);
}

.cardImageView {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardImageView:hover{
  transform: scale(1.05);
}

.cardText {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  padding:  0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  overflow: hidden;
}

.cardText .title{
  font-weight: 600;
  font-size: 0.9rem;
}

.off{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.category {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: gray;
  font-family: 'Lato', sans-serif;=
  text-transform: uppercase;
}

.productOffer{
  width: 50px;
  padding: 2px;
  margin: 0;
  font-size: 0.7rem;
  border-radius: 5px;
  text-align: center;
  animation:  offer 8s ease infinite;
}


@keyframes offer {
  0%, 75%{ 
    background-color: lightgreen;
    color: black;
  }
  35%, 100%{
    background-color: green;
    color: white;
  }
}

.title{
  margin: 0;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: var(--primary-c);
  word-wrap: break-word;
}

.prices{
  display: flex;
  gap: 5px;
  align-items: center;
}

.priceSpan{
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  color: grey;
  font-weight: 400;
  text-decoration: line-through;
  text-decoration-color: red;
}

.price {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--burnished-copper);
}

.price::before{
  content: 'Rs.';
  font-size: 1rem;
}

.cardA button {
  color: white;
  background-color: var(--primary-c);
  border: none;
  display: none;
  margin: 10px 0px;
  padding: 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
}

.cardA button:hover{
    background-color: var(--secondary-c);
}

@media screen and (max-width: 800px){

  .profile-p{
    display: none;
  }

  #fc{
    display: block;
  }

  #floraco{
    display: none;
  }

  .categories ul{
    gap: 5px;
  }

  .ctgryImg{
    width: 50px;
    height: 50px;
  }

  .ctgryText{
    font-size: 0.5rem;
  }

}

@media screen and (max-width: 400px){

  .rightContent{
    padding: 0.9rem;
  }

  .card{
    flex-direction: column;
  }

  #fc{
    display: none;
  }

  .ctgryCard{
    align-items: start;
  }

  .ctgryText{
    max-width: 80px;
    text-align: start;
  }

  .prices, .off{
    flex-direction: column;
    align-items: start;
  }
}
